---
import { getEntry } from 'astro:content';
import { fr } from 'date-fns/locale';

import { HorizontalList, VerticalList } from '@/components/list';
import Separator from '@/components/separator.astro';
import Basics from '@/pdf/components/basics.astro';
import Education from '@/pdf/components/education.astro';
import Footer from '@/pdf/components/footer.astro';
import Job from '@/pdf/components/job.astro';
import Layout from '@/pdf/components/layout.astro';
import { Section, SectionTitle, Subsection, SubsectionTitle } from '@/pdf/components/section';
import { Skill } from '@/pdf/components/skills';
import { initializePdfContext } from '@/pdf/utils/initialize-pdf-context';
import AccentColors from '@/styles/colors/accent/indigo.astro';
import DuskColors from '@/styles/colors/dusk/slate.astro';
import ElementColors from '@/styles/colors/elements/default.astro';
import Font from '@/styles/fonts/inter.astro';

await initializePdfContext(Astro, {
  locale: fr,
  translations: getEntry('translations', 'fr'),
  dateFormat: 'MMMM yyyy',
  website: '/',
});
---

<Layout class="gap-6">
  <Fragment slot="head">
    <Font />
    <DuskColors />
    <AccentColors />
    <ElementColors />
  </Fragment>
  <Basics entry={getEntry('basics', 'main-pdf')} />
  <Section class="gap-4">
    <SectionTitle>Compétences</SectionTitle>
    <VerticalList class="gap-4">
      <Subsection class="gap-2">
        <SubsectionTitle>Front End</SubsectionTitle>
        <HorizontalList class="gap-3">
          <Skill entry={getEntry('skills', 'angular')} />
          <Skill entry={getEntry('skills', 'react')} />
          <Skill entry={getEntry('skills', 'next')} />
          <Skill entry={getEntry('skills', 'eslint')} />
          <Skill entry={getEntry('skills', 'vitest')} />
          <Skill entry={getEntry('skills', 'typescript')} />
        </HorizontalList>
      </Subsection>
      <Subsection class="gap-2">
        <SubsectionTitle>Back End</SubsectionTitle>
        <HorizontalList class="gap-3">
          <Skill entry={getEntry('skills', 'nodejs')} />
          <Skill entry={getEntry('skills', 'postgresql')} />
          <Skill entry={getEntry('skills', 'mysql')} />
          <Skill entry={getEntry('skills', 'knex')} />
          <Skill entry={getEntry('skills', 'typescript')} />
        </HorizontalList>
      </Subsection>
      <Subsection class="gap-2">
        <SubsectionTitle>Outils</SubsectionTitle>
        <HorizontalList class="gap-3">
          <Skill entry={getEntry('skills', 'neon')} />
          <Skill entry={getEntry('skills', 'sentry')} />
          <Skill entry={getEntry('skills', 'stripe')} />
          <Skill entry={getEntry('skills', 'vercel')} />
        </HorizontalList>
      </Subsection>
      <Subsection class="gap-2">
        <SubsectionTitle>Langages</SubsectionTitle>
        <HorizontalList class="gap-3">
          <Skill entry={getEntry('skills', 'french')} />
          <Skill entry={getEntry('skills', 'english')} />
        </HorizontalList>
      </Subsection>
    </VerticalList>
  </Section>
  <Section class="gap-4">
    <SectionTitle>Expériences</SectionTitle>
    <VerticalList class="gap-6">
      <Job entry={getEntry('jobs', 'yooz')} />
      <Separator />
      <Job entry={getEntry('jobs', 'thales')} />
      <Separator />
      <Job entry={getEntry('jobs', 'digitre2')} />
      <Separator />
      <Job entry={getEntry('jobs', 'royal-canin')} />
      <Separator />
      <Job entry={getEntry('jobs', 'digitre1')} />
      <Separator />
      <Job entry={getEntry('jobs', 'smag')} />
      <Separator />
      <Job entry={getEntry('jobs', 'dcbrain')} />
      <Separator />
      <Job entry={getEntry('jobs', 'sabatier-geolocalisation')} />
      <Separator />
      <Job entry={getEntry('jobs', 'americaronline')} />
      <Separator />
      <Job entry={getEntry('jobs', 'microagency')} />
    </VerticalList>
  </Section>
  <Section class="gap-4">
    <SectionTitle>Education</SectionTitle>
    <VerticalList class="gap-6">
      <Education entry={getEntry('education', 'master2')} />
      <Separator />
      <Education entry={getEntry('education', 'master1')} />
      <Separator />
      <Education entry={getEntry('education', 'deug')} />
    </VerticalList>
  </Section>
  <Footer> version 2024 </Footer>
</Layout>
